*{
box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--bg-main);
}
a{
  text-decoration: none;
  color: unset;
  }
  ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
  }
h1,p{
  margin: 0;
}
.container{
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}